<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- these registry entries should be installed
         to the target user's machine -->
    <DirectoryRef Id="TARGETDIR">
      <!-- groups together the registry entries to be installed -->
      <!-- Note the unique `Id` we provide here -->
      <Component Id="OpenHereKeys" Guid="*">
        <RegistryKey
          Root="HKCR"
          Key="directory\background\shell\Shodo-Notes (reading mode)"
        >
          <RegistryValue Type="string"
            Value="Open Shodo-Notes here (reading mode)" />
          <RegistryValue
            Type="string"
            Name="Icon"
            Value="C:\Program Files\shodo\shodo.exe"
            KeyPath="yes"
          />
          <RegistryKey
            Key="command"
          >
            <RegistryValue Type="string"
              Value="&quot;C:\Program Files\shodo\shodo.exe&quot; &quot;%V&quot; -n" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey
          Root="HKCR"
          Key="directory\background\shell\Shodo-Notes"
        >
          <RegistryValue Type="string"
            Value="Open Shodo-Notes here" />
          <!-- values to persist on the registry -->
          <RegistryValue
            Type="string"
            Name="Icon"
            Value="C:\Program Files\shodo\shodo.exe"
          />
          <RegistryKey
            Key="command"
          >
            <!-- values to persist on the registry -->
            <RegistryValue Type="string"
              Value="&quot;C:\Program Files\shodo\shodo.exe&quot; &quot;%V&quot;" />
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="OpenHereKeysOnDirectoryClick" Guid="*">
        <RegistryKey
          Root="HKCR"
          Key="directory\shell\Shodo-Notes (reading mode)"
        >
          <RegistryValue Type="string"
            Value="Open Shodo-Notes here (reading mode)" />
          <RegistryValue
            Type="string"
            Name="Icon"
            Value="C:\Program Files\shodo\shodo.exe"
            KeyPath="yes"
          />
          <RegistryKey
            Key="command"
          >
            <RegistryValue Type="string"
              Value="&quot;C:\Program Files\shodo\shodo.exe&quot; &quot;%V&quot; -n" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey
          Root="HKCR"
          Key="directory\shell\Shodo-Notes"
        >
          <RegistryValue Type="string"
            Value="Open Shodo-Notes here" />
          <!-- values to persist on the registry -->
          <RegistryValue
            Type="string"
            Name="Icon"
            Value="C:\Program Files\shodo\shodo.exe"
          />
          <RegistryKey
            Key="command"
          >
            <!-- values to persist on the registry -->
            <RegistryValue Type="string"
              Value="&quot;C:\Program Files\shodo\shodo.exe&quot; &quot;%V&quot;" />
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
