/// thx to https://github.com/KittyGiraudel/SassyStrings/blob/master/stylesheets/private/_str-repeat.scss
/// Repeat `$string` `$times` times.
/// @since 1.2.0
/// @param {String} $string - string to repeat
/// @param {Number} $times  - number of times to repeat $string
/// @return {String}

@function _ss-str-repeat($string, $times) {
    $result: "";

    @for $i from 1 through $times {
        $result: $result + $string;
    }

    @return $result;
}

@mixin md($primary-font-color, $secondary-font-color, $primary-background-color, $secondary-background-color, $primary-accent-color, $secondary-accent-color) {


    $font-weight: 600;

    .markdown-body {
        background-color: $primary-background-color;
        color: $primary-font-color;

        // Headings
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            // padding-top: 24px;
            padding-top: 16px;
            font-weight: $font-weight;
            line-height: 1.25
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.25em;
        }

        h4 {
            font-size: 1em;
        }

        h5 {
            font-size: .875em;
        }

        h6 {
            font-size: .85em;
        }

        // Lists
        ol {
            list-style: inside;
            list-style-type: decimal;
            list-style-position: outside;
            margin-left: 2rem;
        }

        ol>li>ol {
            list-style-type: lower-alpha;
        }

        ul {
            list-style: inside;
            list-style-type: disc;
            list-style-position: outside;
            margin-left: 2rem;
        }

        li::marker {
            color: $secondary-font-color;
        }

        $list-style-types: circle, square, "❖ ", "- ", "⇒ ", "➤ ", "➔ ", "➜ ", "➨ ", "➠ ", "➟ ", "➝ ", "➥ ", "➦ ", "➧ ", "➩ ", "➪ ", "➫ ", "➬ ", "➭ ", "➮ ", "➯ ", "➱ ";

        @for $i from 1 through length($list-style-types) {
            $list-style-type: nth($list-style-types, $i);
            $selector: "ul " + _ss-str-repeat("> li > ul", $i);

            #{$selector} {
                list-style-type: $list-style-type;
                margin-left: 1.75rem;
            }
        }

        // Tables
        table {
            border-collapse: collapse;
            min-width: 30rem;
            margin: .5rem auto .5rem auto;

            thead {
                background-color: $secondary-background-color;

                tr:first-of-type {
                    color: $primary-font-color;
                }

                tr {
                    color: $secondary-font-color;
                }
            }

            tbody {
                tr {
                    border-bottom: 0.15rem solid $secondary-background-color;

                }

                tr:last-of-type {
                    border-bottom: 0.25rem solid $secondary-background-color;
                }

                td[colspan] {
                    text-align: center;
                }
            }
        }

        // Code
        code {
            background-color: $secondary-background-color;
            border-radius: 0.25rem;
            color: $secondary-accent-color;
            display: inline-block;

            .hljs-punctuation,
            .hljs-attr {
                color: $primary-accent-color;
            }

            .hljs-string {
                color: $secondary-accent-color;

            }

            .hljs-literal {
                color: lighten($secondary-accent-color, 10%)
            }
        }

        pre>code {
            width: 100%;
            overflow-x: auto;
            padding: 0.5rem;
        }

        pre:has(> code) {
            padding: 0.5rem;
        }

        // Blockquotes
        blockquote:not(.heading-link-blockquote) {
            background-color: $secondary-background-color;
            padding-left: 1rem;
            border-left: .25rem solid $primary-accent-color;
            margin: .5rem 0;
        }

        // Links
        a {
            color: $primary-accent-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        // Mermaid
        .mermaid {
            display: flex;
            justify-content: center;
        }

        img {
            max-height: 30rem;
            margin-inline: auto;
        }

        // Heading Links
        .heading-link-indicator {
            display: none;
        }

        a.heading-link-item {
            background-color: #{$secondary-accent-color}10;
            padding: .25rem .25rem;
            text-overflow: ellipsis;
            border-radius: .25rem;
            white-space: nowrap;
            max-width: 20rem;
            max-height: 2rem;
            overflow: hidden;

            &:hover {
                text-decoration: none;
                background-color: #{$secondary-accent-color}20;
            }

            &::before {
                content: "";
                padding-left: 1.4rem;
                margin-right: .25rem;
            }

            &.mask-image {
                &::before {
                    background-color: $primary-accent-color;
                    mask-image: var(--background);
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center center;
                }
            }

            &.full-image {
                &::before {
                    background-image: var(--background);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        .heading-link-blockquote>p:not(.heading-link-indicator) {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
        }
    }
}

@font-face {
    font-family: "Nunito Sans";
    // url("../public/JetBrainsMono-Regular.ttf");
    src: url("/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
@font-face {
    font-family: "JetBrains";
    // url("../public/JetBrainsMono-Regular.ttf");
    src: url("/JetBrainsMono-Regular.ttf");
}
// @font-face {
//     font-family: "JetBrains Special Glyphs";
//     // url("../public/JetBrainsMono-Regular.ttf");
//     src: url("/JetBrainsMono-Regular.ttf");
//     unicode-range: U+2DU+3E;
// }

@mixin screen_layout($primary-font-color, $secondary-font-color, $primary-background-color, $secondary-background-color, $primary-accent-color, $secondary-accent-color) {
    @include md($primary-font-color, $secondary-font-color, $primary-background-color, $secondary-background-color, $primary-accent-color, $secondary-accent-color);

    body {
        background-color: $primary-background-color;
    }

    html {
        font-family: "Nunito Sans";
        // font-family: "JetBrains";
    }
    code {
        font-family: "JetBrains" !important;
    }

    .markdown-body {
        @for $i from 1 through 6 {
            h#{$i}::before {
                content: _ss-str-repeat("#", $i);
                margin-right: .25rem;
                color: $secondary-font-color;
            }
        }
    }
}
@media screen and (prefers-color-scheme: light) {
    // $primary-font-color: #000000;
    // $secondary-font-color: #5c5b5b;
    // $primary-background-color: #FBFAEE;
    // $secondary-background-color: darken($primary-background-color, 50%);
    // $secondary-background-color: #{$secondary-background-color}10;
    $primary-font-color: #000000;
    $secondary-font-color: #5c5c5c;
    $primary-background-color: #FFFFFF;
    $secondary-background-color: #beabc9;
    $secondary-background-color: #{$secondary-background-color}80;
    $primary-accent-color: #933DC9;
    $secondary-accent-color: #53118F;

    @include screen_layout($primary-font-color, $secondary-font-color, $primary-background-color, $secondary-background-color, $primary-accent-color, $secondary-accent-color);
    :root.dark {
        $primary-font-color: #ededed;
        $secondary-font-color: #9c9c9c;
        $primary-background-color: #2e2e2e;
        $secondary-background-color: #3a333d;
        $secondary-background-color: #{$secondary-background-color}40;
        $primary-accent-color: #933DC9;
        $secondary-accent-color: #8f60bb;
        @include screen_layout($primary-font-color, $secondary-font-color, $primary-background-color, $secondary-background-color, $primary-accent-color, $secondary-accent-color);
    }
}